@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* colors */

/* 
60% of #706253 - Primary
30% of #769955 - Seconday
10% of #618E9D - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #4b635a;

/* var(--secondaryColor) !important; */
--secondaryColor: #776554;

/* var(--accentColor) !important; */
--accentColor: #A35B3F;

/* var(--fontFamily) !important; */
--fontFamily: "Playfair Display", serif;
}