/* Colors */

/* 
60% of #706253 - Primary
30% of #769955 - Seconday
10% of #618E9D - Accent
*/

:root {

/* var(--primaryColor) !important; */
--PrimaryColor: #637F75;

/* var(--primaryColor) !important; */
--SecondaryColor: #95806E;

/* var(--primaryColor) !important; */
--AccentColor: #A35B3F;
}