<footer>
  <!-- Begin Footer Row -->
<div class="container-fluid blinn-footer-container">
  <div class="container">
  <div class="row">
      <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <h3>Contact Us</h3>
        <ul>
          <li>432 Aura Avenue</li>
          <li>Willow Springs, OR 97477</li>
          <li>(000) 123-1234</li>
          <li>contact@luxeskincare.co</li>
        </ul>
      </div>
      <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <h3>Legal</h3>
        <ul>
          <li>Privacy & Data Use</li>
          <li>Terms & Wellness Policies</li>
          <li>Guest Consent Forms</li>
          <li>Liability Waiver</li>
        </ul>
      </div>
      <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <h3>Our Services</h3>
        <ul>
          <li>Glow Ritual Facials</li>
          <li>Botanical Body Wraps</li>
          <li>Earthflow Yoga</li>
          <li>Sage & Soung Healing</li>
        </ul>
      </div>
      <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <h3>Wellness Resources</h3>
        <ul>
          <li>The Luxe Wellness Blog</li>
          <li>Download Our Self-Care Guide</li>
          <li>Spa Etiquette</li>
          <li>Schedule a Visit</li>
        </ul>
      </div>

  </div>
  </div>
</div>
<!-- End Footer Row -->
</footer>