<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid luxe-footer-container bg-light py-5">
    <div class="container">
      <div class="row">
        
        <!-- Contact Us -->
        <div class="col-12 col-sm-6 col-md-3 footer-column">
          <h3>Contact Us</h3>
          <ul class="list-unstyled">
            <li>432 Aura Avenue</li>
            <li>Willow Springs, OR 97477</li>
            <li>(903) 246-8899</li>
            <li>contact@luxeskincare.co</li>
          </ul>
        </div>
  
        <!-- Legal Info -->
        <div class="col-12 col-sm-6 col-md-3 footer-column">
          <h3>Legal</h3>
          <ul class="list-unstyled">
            <li><a href="#">Privacy & Data Use</a></li>
            <li><a href="#">Terms & Wellness Policies</a></li>
            <li><a href="#">Guest Consent Forms</a></li>
            <li><a href="#">Liability Waiver</a></li>
          </ul>
        </div>
  
        <!-- Services -->
        <div class="col-12 col-sm-6 col-md-3 footer-column">
          <h3>Our Offerings</h3>
          <ul class="list-unstyled">
            <li><a href="#">Glow Ritual Facials</a></li>
            <li><a href="#">Botanical Body Wraps</a></li>
            <li><a href="#">Earthflow Yoga</a></li>
            <li><a href="#">Sage & Sound Healing</a></li>
          </ul>
        </div>
  
        <!-- Resources -->
        <div class="col-12 col-sm-6 col-md-3 footer-column">
          <h3>Wellness Resources</h3>
          <ul class="list-unstyled">
            <li><a href="#">The Luxe Wellness Blog</a></li>
            <li><a href="#">Download Our Self-Care Guide</a></li>
            <li><a href="#">Spa Etiquette Tips</a></li>
            <li><a href="#">Schedule a Visit</a></li>
          </ul>
        </div>
  
      </div>
    </div>
  </div>
<!-- End Footer Row -->
</footer>